body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative; 
}

.lightup {
    align-items: center;
    font-family: Lucida;
    font-size: 42px;
    font-weight: bold;
    animation: lightUp 2s infinite alternate;
}

@keyframes lightUp {
    from {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000;
    }

    to {
        color: #00ff00;
        text-shadow: 0 0 20px purple;
    }
}

#musicNotes {
    margin-top: 10px;
    border-radius: 10px;
}

.notification {
    margin-top: 20px;
    position: relative;
}

.card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content p {
    margin: 5px 0;
}

aside {
    width: 100px;
    padding: 20px;
    background-color: transparent; 
    position: absolute; 
    top: 50px; 
    left: 10px; 
}

.search-history-btn {
    background-color: red;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-history-btn:hover {
    background-color: darkblue;
}
