body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative; 
}

.lightup {
    align-items: center;
    font-family: Lucida;
    font-size: 42px;
    font-weight: bold;
    animation: lightUp 2s infinite alternate;
}

@keyframes lightUp {
    from {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000;
    }

    to {
        color: #00ff00;
        text-shadow: 0 0 20px purple;
    }
}

<<<<<<< HEAD
=======
#flashMessage {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 50%;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

#searchButton {
    margin-top: 5px;
}

/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: #ffffff;
} */

/* .modalclose {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #aaa;
} */


>>>>>>> c6c75b0b106c855ab672000a3ca4b99f2828d6b4
#musicNotes {
    margin-top: 10px;
    border-radius: 10px;
}

.notification {
    margin-top: 20px;
    position: relative;
}

.card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content p {
    margin: 5px 0;
}

aside {
    width: 100px;
    padding: 20px;
    background-color: transparent; 
    position: absolute; 
    top: 50px; 
    left: 10px; 
}

.search-history-btn {
    background-color: red;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-history-btn:hover {
    background-color: darkblue;
}
